# User-specific stuff:
.idea/
.vscode/
*.iml
*.sublime*

# common ignores
node_modules/
.DS_Store
*.log
*.log.*

# for master
# assets/**/*.css
# /dist
# index.html

# for gh-pages
assets
package-lock.json