@import "../../variables.scss";
@import "../../mixins.scss";

.button {
  text-transform: uppercase;
  color: $color-white;
  text-decoration: none;
  @include font-family-gothamPro-medium();

  @include respond-to("(max-width:950px)"){
    padding: 10px;
    font-size: 15px;
  }

  &__burger-icon {
      display: none;
      cursor: pointer;
  }

}
