@import "~src/variables.scss";
@import "~src/mixins.scss";

.line-organizers {
  .organizers-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond-to($tablet-landscape) {
      flex-direction: column;

    }
    @include respond-to($tablet-portrait) {
      flex-direction: column;

    }

  }

  .info {

    width: 45%;

    @include respond-to($tablet-landscape) {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

    }
    @include respond-to($tablet-portrait) {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

    }

    .btn--yellow {
      a, a:hover, a:active, a:visited, a:focus {
        text-decoration: none;
        color: $color-orange
      }
    }
  }

  .description {

    margin-bottom: 70px;
    &__title {
      font-size: 1.1em;
      text-transform: uppercase;
      margin-bottom: 25px;

    }

    &__text {
      line-height: 24px;
      font-weight: 300;
    }
  }

  .socials {
    margin-bottom: 60px;

    span {
      display: inline-block;
      text-transform: uppercase;
      margin-bottom: 30px;

    }

    &-links {
      justify-content: center;
    }

    a {
      margin: 0 15px;
      text-decoration: none;
      color: $color-orange;
      font-size: 1.5em;
    }

    @include respond-to($tablet-landscape) {
      text-align: center;
    }

    @include respond-to($tablet-portrait) {
      text-align: center;
    }

  }

  .vacancies-btn {
    margin-bottom: 40px;
  }

  .location {
    width: 45%;
    .place_event {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    h2 {
      display: inline-block;
    }


    &__title {
      font-size: 1.1em;
      margin-bottom: 25px;
      font-weight: 400;
      text-transform: uppercase;
    }
    @include respond-to($tablet-landscape) {
      width: auto;

    }
    @include respond-to($tablet-portrait) {
      width: auto;

    }
  }

  .map-container {
    border: 10px solid $color-orange;
    height: 450px;
  }

  .socials-links {
    @include respond-to($phone) {
      display: flex;
    }
  }

}
