@import "~src/variables.scss";
@import "~src/mixins.scss";


.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 0;

  &__col {
    display: flex;
    flex-direction: column;
    width: 30%;

    &--left {
      align-items: flex-start;
    }

    &--right {
      align-items: flex-end;
    }
  }


  &__title {
    font-family: $font-family-opensans-regular;
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 10%;
  }

  &__shape {
    width: 60px;
    height: 60px;
    align-self: center;

    &--triangle {
      background: url("assets/Triangle.svg") center no-repeat;
    }

    &--square {
      width: 36px;
      height: 36px;
      border: 3px solid $color-orange;
    }

    &--circle {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 4px solid $color-orange;
    }
  }


  // todo: may be delete this mess ?
  .col__right {
    a {
      align-self: flex-end;
      position: relative;
      z-index: 3;
      cursor: pointer;

      &:hover{
        box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2);
      }

      p {
        font-family: $font-family-opensans-regular;
        color: #000000;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.1em;
      }

    }

  }
}


@media only screen and (max-width: 767px) {
  .section-header {
    flex-direction: column;
    &__col {
      width: 100%;
      align-items: center;

      .event-date, .event-place h3 {
        text-align: center;
      }

      &--middle {
        order: -1;
      }

      &--left {
        padding: 10px 0;
      }
    }
  }
}

