@import "~src/variables.scss";
@import "~src/mixins.scss";


.event-place {
  padding-top: 10%;

  h3 {
    font-family: $font-family-opensans-regular;
    text-align: right;
    text-transform: uppercase;
    font-weight: 300;

    &:nth-child(2) {
      @include font-family-opensans-bold;
      font-weight: 700;
    }
  }

  &--yellow h3 {
    color: $color-orange;
  }

  &--white h3 {
    color: $color-white;
  }
}
