@import "~normalize.css";
@import "~font-awesome/css/font-awesome.css";
@import "~src/variables.scss";
@import "~src/mixins.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $font-family-opensans-regular;
}
