@import "../../variables.scss";
@import "../../mixins.scss";


.social_network{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top:50px;

  p{
    font-size: 18px;
  }

  a{
    width: 24px;
    margin-right: 25px;
  }

  .socials_container{
    margin-top:20px;
  }
}
