@import "../../variables.scss";
@import "../../mixins.scss";

.rectangle{
  position: relative;
  background-color: $color-primary-green;
  display:inline-block;

  @media screen and (min-width: 500px) and (max-width:1200px) {
    margin-left:5%;
  }

  @media screen and (min-width: 320px) and (max-width:600px) {
    margin-left:8%;
  }


  h3{
    position: relative;
    font-size: 28px;
    padding-right: 27px;
    top:-12px;
    @include font-family-gothamPro-bold();
  }
}





