@import "~src/variables.scss";
@import "~src/mixins.scss";


.speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  background-color: $color-grey;

  img {
    box-sizing: border-box;
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 12px solid $color-orange;
  }

  .name {
    @include font-family-opensans-bold;

    text-align: center;
    color: $color-black;
    font-size: 1.5em;
    text-transform: uppercase;
    position: relative;

    &:hover{
      position: relative;
      z-index: 4;
    }

    .position {
      font-family: $font-family-opensans-regular;
      font-size: 0.6em;
      text-transform: none;
    }

    .special-guest {
      font-family: $font-family-opensans-regular;
      margin-bottom: 20px;
      color: $color-orange;
      font-size: 0.7em;
      text-align: left;
      text-transform: none;
    }

    span {
      background: url("assets/Path_10_Copy_2.svg") center no-repeat;
      width: 145px;
      height: 15px;
      display: inline-block;
    }
  }

  p {
    font-family: $font-family-opensans-regular;
    color: $color-black;
    font-size: 1.3em;

  }


  &--top {
    img {
      top: -80px;
    }

    p, ul {
      padding: 5%;
      font-size: $font-size-regular-res;

    }

    .text-wrapper {
      position: relative;
      display: inline-grid;
      display: -ms-inline-grid;
      padding: 1em 1em 0 1em;
      top: -80px;
    }
  }

  &--bottom {
    img {
      bottom: -80px;
    }
    p, ul {
      padding: 5%;
      font-size: $font-size-regular-res;

    }

    .text-wrapper {
      display: inline-grid;
      display: -ms-inline-grid;
      position: relative;
      padding: 1em 1em 0 1em;
    }
  }
}
