@import "variables.scss";
@import "mixins.scss";

.register-btn {
  width: 136px;
  height: 36px;
  border-radius: 40px;
  background: $color-orange;
  text-transform: uppercase;
  margin-bottom: 55px;
  cursor: pointer;
  outline: none;
}

.events {
  width: 85%;
  margin: 0 auto;
  padding: 50px 0 70px;
  background-color: $color-white;

}

.section-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.5em;

  @include respond-to($phone) {
    justify-content: center;
  }
  @include respond-to($tablet-portrait) {
    flex-direction: column;
    align-items: center;
  }

}

.section-column-1, .section-column-2, .section-column-3 {
  @include respond-to($desktop){
    width: 30%;
  }
}

.section-column-1 {
  img {
    margin-bottom: 55px;
  }
  .events-date {
    display: flex;
    flex-direction: column;
    color: $color-orange;
    h3 {
      font-size: 2em;
      font-family: $font-family-opensans-regular;
      font-weight: 300;
    }
    time {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
  @include respond-to($tablet-portrait) {
    text-align: center;
    margin-bottom: 40px;
    img {
      margin-bottom: 15px;
    }
  }

}

.section-column-2 {
  text-align: center;

  h2 {
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 55px;

  }

  .circle-icon {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 4px solid $color-orange;
  }

  @include respond-to($tablet-landscape) {
    flex-basis: 800px;
    order: -1;
    h2 {
      margin-bottom: 15px;
    }
  }
  @include respond-to($tablet-portrait) {
    order: -1;
    margin-bottom: 40px;
    h2 {
      margin-bottom: 15px;
    }
  }

  @include respond-to($tablet-portrait){
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;

    h2{
      font-size: 1.8em;
      margin-bottom: 15px;
    }
  }

}

.section-column-3 {
  text-align: right;

  .events-place {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: $color-orange;

    h3{
      font-weight: 300;
    }

    h3:nth-child(2) {
      font-weight: bold;
    }

  }

  @include respond-to($tablet-portrait) {

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
    button {
      order: 2;
    }
    .events-place {
      text-align: center;
    }
  }

}

.tabs {
  background-color: #F8F8F8;

  &__content {
    padding: 30px 100px;

    @include respond-to($tablet-portrait) {
      padding: 30px;
    }
  }

  &__head {
    display: flex;
    justify-content: space-around;
  }

  &__item {
    flex-basis: 50%;
    text-align: center;
    padding: 10px 0;
    border-bottom: 4px solid transparent;

    span {
      font-size: 1.125em;
      font-weight: bold;
      text-transform: uppercase;
      color: $color-orange;
    }

    &:hover {
      border-bottom: 4px solid $color-orange;
      cursor: pointer;
      span {
        color: $color-black;
      }
    }
  }

  &__title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 30px;
    text-transform: capitalize;
  }

  &__text-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__text-wrap {
    flex-basis: 400px;
    margin-bottom: 70px;

    p {
      font-size: $font-size-regular-res;
    }
  }

}





