@import "variables.scss";
@import "mixins.scss";
@import "tablet_header.scss";

.main {
  position: relative;
  background-color: $color-orange;
  overflow: hidden;

  .container_dekstop {
    max-width: 85%;
    margin: 0 auto;
  }

  &_content {
    padding-top: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logo img {
      width: 197px;
      height: 36px;
    }
  }

  &_intro {
    position: relative;
    padding-top: 145px;

    .intro_text img{
      background-size: cover;
      height: 100%;
      width: 100%;
    }

    .sub_intro_text {
      text-align: center;
      padding: 75px 0 85px;

      p {
        @include font-family-opensans-bold();
        text-transform: uppercase;
        color: $color-white;
        font-size: 3rem;
        letter-spacing: .95rem;
      }
    }
  }

  .path_line img {
    position: absolute;
    top: 0;
    height: 100%;
    left: 52%;
    pointer-events:none
  }

  .rhino img {
    position: absolute;
    top: 13%;
    left: 46%;
    height: 84%;
  }

  @media (max-width: 1320px) {
    & {
      .rhino img {
        position: absolute;
        top: 13%;
        left: 50%;
        height: 75%;
        transform: translate3d(-10%, 0, 0);
      }

      &_intro {
        padding-top: 100px;
        top:60%;
        position: relative;

        .sub_intro_text p {
          font-size: 2em;
        }
      }
    }
  }
}

@media (max-width: 1070px) {
  .main {
    .rhino img {
      top: 18%;
      height: 70%;
      transform: translate3d(-15%, 0, 0);
    }
  }
}

@media (max-width: 767px) {
  .main {
    .container_dekstop {
      display: none;
    }
  }
}

@media (min-width: 767px) {
  .main {
    .container_tablet {
      display: none;
    }
  }
}
