@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "speakers.scss";
@import "events.scss";
@import "organizers.scss";
@import "main.scss";
@import "tablet_header.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: $html-font-size;
}
body{
  font-family: $font-family-opensans-regular;
}
h1 {
  color: $color-white;
}


