@import "main.scss";
@import "variables.scss";
@import "speakers.scss";
@import "events.scss";
@import "organizers.scss";
@import "main.scss";
@import "tablet_header.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $font-family-opensans-regular;
}

.btn {
  padding: 8px 18px;
  display: inline-block;
  border-radius: 40px;
  font-size: 14px;
  background-color: $color-white;
  color: $color-black;
  text-transform: uppercase;
  line-height: 19px;
  text-decoration: none;

  &:hover {
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2);
  }

  &--yellow {
    background-color: $color-orange;
    margin-bottom: 55px;

    &:hover {
      background-color: rgba(255, 221, 89, 1);
      box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2);
    }
  }
}

section {
  position: relative;

  & .section-controls {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);

    z-index: 100;

    @include respond-to($phone){
      display: none;
    }

    a {
      width: 12px;
      height: 12px;
      margin-bottom: 9px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:after {
        width: 6px;
        height: 6px;
        content: ' ';
        display: inline-block;
        opacity: 0.36;
        border-radius: 50%;
        background: $color-black;
      }

      &.active {
        &:after {
          width: 12px;
          height: 12px;
          opacity: 1;
        }
      }
    }
  }
}
