@import "variables.scss";
@import "mixins.scss";

.container_tablet {
  .tablet_content {
    .logo {
      text-align: center;
      padding: 50px 0 13px;
      img {
        width: 172px;
        height: 32px;
      }
    }
    .rhino_img {
      position: relative;
      z-index: 2;
      text-align: center;
      img {
        width: 80%;
      }
    }
    .intro_text {
      text-align: center;
      margin-top: -100px;
      img {
        width: 80%;
      }
    }
    .sub_intro_text {
      text-align: center;
      p {
        @include font-family-opensans-bold();
        text-transform: uppercase;
        color: $color-white;
        font-size: 1.5rem;
        letter-spacing: .5rem;
        padding: 12px 0 30px;
      }
    }
    .register_btn {
      text-align: center;
      padding-bottom: 35px;
    }
    .path_line img {
      position: absolute;
      top: 0;
      height: 100%;
      left: 29%;
    }
  }
}