@import "../../variables.scss";
@import "../../mixins.scss";

.partners {
  padding-top: 150px;
  max-width: 1140px;
  margin: 0 auto;

  &_title {
    padding-left: 97px;

    &_block {
      font-size: 30px;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}
