@import "../../variables.scss";
@import "../../mixins.scss";


.footer{
  border-top:1px solid $color-light-gray;
  display: flex;
  flex-direction: row;

  @media screen and (min-width: 320px) and (max-width:900px) {
    flex-direction: column;
  }

  div{
    width: 50%;

    @media screen and (min-width: 320px) and (max-width:900px) {
      width: 100%;
    }
  }

  .logo{
    display: flex;
    justify-content: center;

    img{
      margin:40px 0 45px;
    }
  }

  .info{
    display: flex;

    @media screen and (min-width: 320px) and (max-width:460px) {
      flex-direction: column;
    }


    div{
      width: 50%;

      @media screen and (min-width: 320px) and (max-width:900px) {
        justify-content: center;
      }

      @media screen and (min-width: 320px) and (max-width:460px) {
        width: 100%;
      }

    }

    &_email{
      margin-top:40px;

      @media screen and (min-width: 320px) and (max-width:900px) {
        text-align: center;
        margin-top:0;
      }

      @media screen and (min-width: 320px) and (max-width:460px) {
        margin-top:0;
      }

     p{
       font-size:16px;
       line-height: 1.13;
       text-align: left;
       @include font-family-gothamPro-medium();

       @media screen and (min-width: 320px) and (max-width:900px) {
         text-align: center;
       }
     }

      a{
        font-size:20px;
        line-height: 1.16;
        text-align: left;
        text-decoration: none;
        color: $color-black;
        border-bottom: 5px solid $color-primary-green;
        @include font-family-gothamPro-bold();


        @media screen and (min-width: 320px) and (max-width:900px) {
          text-align: center;
        }
      }
    }

    &_socials{
      margin-top:40px;

      @media screen and (min-width: 320px) and (max-width:900px) {
        text-align: center;
      }

      @media screen and (min-width: 400px) and (max-width:900px) {
        margin-top:0;
      }


      p{
        font-size:16px;
        line-height:1.13;
        text-align: left;
        @include font-family-gothamPro-medium();

        @media screen and (min-width: 320px) and (max-width:460px) {
          margin-top: 20px;
        }

        @media screen and (min-width: 320px) and (max-width:900px) {
          text-align: center;
        }
      }


      &__networks{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top:10px;

        @media screen and (min-width: 320px) and (max-width:900px) {
          margin: 10px auto;
        }

        a{
          padding: 0 12px 12px 12px;
        }
      }
    }

  }

}
