@import "../../variables.scss";
@import "../../mixins.scss";

.registration-button {
  padding: 18px 20px;
  font-size: 12px;
  background: $color-black;
  text-transform: uppercase;
  color: $color-white;
  cursor: pointer;
  letter-spacing: 0.5px;
  text-decoration: none;
  @include font-family-gothamPro-medium();

  @include respond-to("(max-width:950px)") {
    padding: 10px;
    font-size: 15px;
  }

  &__burger-icon {
    display: none;
    cursor: pointer;
  }

  &:hover {
    color: $color-primary-green;
    background: $color-black;
  }
  &:active {
    color: $color-hover-green;
  }
}
