@import "~src/variables.scss";
@import "~src/mixins.scss";

.event-date {
  display: flex;
  flex-direction: column;
  color: $color-orange;


  h3 {
    font-size: 2em;
    font-family: $font-family-opensans-regular;
    font-weight: 300;
  }
  time {
    font-size: 1.5em;
    font-weight: bold;
  }

  &--yellow {
    color: $color-orange;
  }

  &--white {
    color: $color-white;
  }
}
