@import "../../variables.scss";
@import "../../mixins.scss";

.contacts_section {
  width: 1140px;
  margin: 150px auto 0;
  display: flex;
  flex-direction: row;

  @media screen and (min-width: 1000px) and (max-width:1200px) {
    width:950px;
  }

  @media screen and (min-width: 800px) and (max-width:1000px) {
    width:90%;
    flex-direction: column;
  }

  @media screen and (min-width: 320px) and (max-width:800px) {
    width:90%;
    flex-direction: column;
  }

  .address-info {
    border: 2px solid $color-primary-green;
    width: 60%;
    position: relative;
    z-index: -1;
    top: 40px;
    line-height: 1.6;
    @include font-family-gothamPro-bold();

    .rectangle {
      margin: 60px 0 0 90px;

      @media screen and (min-width: 1000px) and (max-width:1200px) {
        margin: 60px 0 0 60px;
      }

      @media screen and (min-width: 800px) and (max-width:1000px){
        margin:0;
      }

      @media screen and (min-width: 320px) and (max-width:800px){
        margin:0;
      }

      @media screen and (min-width: 320px) and (max-width:470px){
        margin:0;
        padding-right: 0;
      }

      h3{
        top:-20px;

        @media screen and (min-width: 320px) and (max-width:470px){
          padding-right: 0;
        }
      }

    }

    @media screen and (min-width: 320px) and (max-width:1000px) {
      margin: 0 auto;
      border:none;
      width: 100%;
      top:0;
      text-align: center;
    }

    .contacts_info {
      padding: 0 145px 0 90px;
      @include font-family-gothamPro-bold();

      @media screen and (min-width: 1000px) and (max-width:1200px) {
        padding: 0 90px 0 50px;
      }

      @media screen and (min-width: 470px) and (max-width:800px) {
        padding: 0 30px;
      }

      @media screen and (min-width: 320px) and (max-width:470px) {
        padding: 0;
      }

      &__calendar {
        display: flex;
        flex-direction: row;
        margin-top: 40px;

        p {
          font-size: 18px;
          font-weight: bold;
          padding-left: 25px;

          @media screen and (min-width: 320px) and (max-width:470px) {
            font-size: 14px;
            text-align: left;
            padding-left: 15px;
          }
        }

        img {
          width: 24px;
          height: 24px;
        }

      }

      &__address {
        display: flex;
        flex-direction: row;
        margin-top: 14px;

        p {
          font-size: 18px;
          font-weight: bold;
          padding-left: 25px;

          @media screen and (min-width: 320px) and (max-width:470px) {
            font-size: 14px;
            text-align: left;
            padding-left: 15px;
          }
        }

        img {
          width: 24px;
          height:24px;
        }

      }

      &__description {
        margin-top: 10px;
        padding-left: 50px;
        font-weight: normal;
        @include font-family-gothamPro-medium();

        @media screen and (min-width: 320px) and (max-width:1000px){
          text-align: left;
        }

        @media screen and (min-width: 320px) and (max-width:470px) {
          padding-left: 40px;
        }

        p {
          font-size: 14px;

          @media screen and (min-width: 320px) and (max-width:470px) {
            text-align: left;
          }
        }
      }

    }

  }

  .map-container {
    position: relative;
    left: -65px;
    width: 570px;

    @media screen and (min-width: 320px) and (max-width:1000px) {
      left: 0;
      margin:30px auto;
      width: 100%;
    }
  }

}
