@import "variables.scss";
@import "mixins.scss";

.main {
    position: relative;
    background-color: $color-orange;
    overflow: hidden;
  
    .container_dekstop {
      max-width: 90%;
      height: 100%;
      margin: 0 auto;
    }
  
    .register_btn button {
      font-size: .9rem;
      font-family: $font-family-opensans-regular;
      padding: 8px 18px;
      color: $color-black;
      background-color: $color-white;
      text-transform: uppercase;
      border-radius: 40px;
    }
  
    &_content {
      padding-top: 53px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
      .logo img {
        width: 197px;
        height: 36px;
      }
    }
  
    &_intro {
      position: relative;
      padding-top: 145px;
  
      .intro_text img{
        background-size: cover;
        height: 100%;
        width: 100%;
      }
  
      .sub_intro_text {
        text-align: center;
        padding: 75px 0 85px;
  
        p {
          @include font-family-opensans-bold();
          text-transform: uppercase;
          color: $color-white;
          font-size: 3rem;
          letter-spacing: .95rem;
        }
      }
    }
  
    .path_line img {
      position: absolute;
      top: 0;
      height: 100%;
      left: 52%;
    }
  
    .rhino img {
      position: absolute;
      top: 13%;
      left: 45%;
      height: 80%;
    }
  
    @media (max-width: 1320px) {
      & {
        .rhino img {
          position: absolute;
          top: 13%;
          left: 50%;
          height: 75%;
          transform: translate3d(-10%, 0, 0);
        }
  
        &_intro {
          padding-top: 100px;
          top:60%;
          position: relative;
  
          .sub_intro_text p {
            font-size: 2em;
          }
        }
      }
    }
  }
  
  @media (max-width: 1070px) {
    .main {
      .rhino img {
        top: 18%;
        height: 70%;
        transform: translate3d(-15%, 0, 0);
      }
    }
  }
  
  @media (max-width: 767px) {
    .main {
      &_content {
        .logo a {
          display: block;
          text-align: center;
        }
      }
      &_intro {
        .sub_intro_text p {
          font-size: 1.6em;
          letter-spacing: .7rem;
        }
      }
    }
  }
  
  @media (max-width: 480px) {
    .main {
      &_content {
        padding-top: 25px;
        .register_btn {
          padding-top: 7px;
        }
        .register_btn button {
          font-size: .5rem;
        }
        .logo img {
          width: 177px;
          height: 32px;
        }
      }
  
      &_intro {
        padding-top: 85px;
  
        .sub_intro_text {
          padding: 60px 0;
          p {
            font-size: 1em;
          }
        }
      }
    }
  }