@import "~src/variables.scss";
@import "~src/mixins.scss";


.nav {
  position: fixed;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);

  z-index: 100;

  @include respond-to($phone){
    display: none;
  }

  a {
    width: 12px;
    height: 12px;
    margin-bottom: 9px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
      width: 6px;
      height: 6px;
      content: ' ';
      display: inline-block;
      opacity: 0.36;
      border-radius: 50%;
      background: $color-secondary;
    }

    &.active {
      &:after {
        width: 12px;
        height: 12px;
        opacity: 1;
      }
    }
  }
}
