@import "../../variables.scss";
@import "../../mixins.scss";

.add_to_us {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

@media only screen and (max-width: 900px) {
  .add_to_us {
    padding-bottom: 20px;
  }
}
