@import "~src/variables.scss";
@import "~src/mixins.scss";

.logo {
  display: inline-block;
  position: relative;

  &__name {
    position: absolute;
    font-size: 20px;
    color: $color-black;
    top: 12px;
    left: 55px;
  }
}
